@config "../tailwind.config.js"; /* ajusta la ruta según dónde esté tu CSS */

@import "tailwindcss";
@import "@arcgis/core/assets/esri/themes/light/main.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);


  /* Colores institucionales */
  --color-muni-azul: #10069f;
  --color-muni-verde: #97d700;

  /* Colores Gradiente */
  --color-muni-rosado: #F57EB6;
  --color-muni-amarillo: #E0E721;
  --color-muni-pantone: #2CB877;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

.main-snake {
  min-height: 70vh;
  background-image:
    url("/prueba/jpinto/muniHistoria/img/fondoSnake.png"),
    linear-gradient(135deg, #F57EB6 0%, #E0E721 45%, #2CB877 90%);

  background-repeat: no-repeat, no-repeat;
  background-position: center 250px, center top;
  background-size: cover, cover;
}


.font-muni {
  font-family: var(--font-muni);
}


/* Fondo institucional 250 Años */
.bg-250 {
  background: linear-gradient(
    135deg,
    #F57EB6 0%,
    #E0E721 45%,
    #2CB877 90%
  );
}

.bg-calendar {
  background: linear-gradient(
    135deg,
    #F57EB6 0%,
    #ffbf7f 45%,
    #2CB877 90%
  );
}

/* Gradiente institucional header */
.header-250 {
  background: linear-gradient(
    90deg,
    #F57EB6 0%,
    #ffbf7f 60%,
    #ffe96d 100%
  );
}

/* Gradiente boton Aleados Estrategicos */
.aleados-250 {
  background: linear-gradient(
    130deg,
    #F57EB6 0%,
    #E6DE53 60%,
    #DFF138 100%
  );

}

/* Gradiente boton Conoce mas esta conmemoración */
.conmemoracion-250 {
  background: linear-gradient(
    135deg,
    #F57EB6 0%,
    #ffbf7f 90%  
  );

}

/* Animaciónd acercarse y alejarse */
@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* ligeramente más grande */
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s ease-in-out infinite;
}




/* Animaciónd acercarse y alejarse SMOOTH */
@keyframes pulse-smooth {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02); /* ligeramente más grande */
  }
}

.animate-pulse-smooth {
  animation: pulse-smooth 3s ease-in-out infinite;
}



@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes blinkArrow {
  0%, 100% { opacity: 1; transform: translateZ(0) scale(1); }
  50% { opacity: .55; transform: translateZ(0) scale(1.08); }
}

.arrow-blink {
  animation: blinkArrow 1.2s ease-in-out infinite !important;
  will-change: transform, opacity;
}

/* fade cards */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(18px); }
  to   { opacity: 1; transform: translateY(0); }
}
.animate-fade-up {
  animation: fadeUp 700ms ease-out forwards;
}


@keyframes rotate-alternate {
  from {
    transform: rotate(4deg);
  }
  to {
    transform: rotate(-4deg);
  }
}

.animate-rotate-alternate {
  animation: rotate-alternate 2s ease-in-out infinite alternate;
  transform-origin: center center;
}


